<h1>Artists</h1>

<% @artists.each do |artist| %>

  <%= artist.name %><%=": #{artist.song_count} songs"%> <p></p>
    <ul>
    <% artist.songs.each do |song|%>
      <li><%= link_to song.title, song%></li><p></p>
    <% end %>
    </ul>

<% end %>
